<nav class="navbar fixed-to navbar-dark bg-primary">
  <div class="order-1 order-md-0">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="/newpost">New Review</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto my-2 order-0 order-md-1 position-relative">
    <div class="navbar-nav mr-auto text-center">
      <h4 class="text-white">SkyBeat</h4>
    </div>
  </div>
  <div class="order-2 order-md-2">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
