<div class="card border-primary text-center">
  <div class="card-body">
    <div class="row border-dark border-bottom">
      <div class="col-12">
      <h5 class="card-title">Welcome {{user}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="card-text">Total Posts : {{postCount}}</p>
      </div>
    </div>
  </div>
</div>