<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <a href="/register"><button class="btn btn-danger float-right">Register</button></a>
        <a href="/login"><button class="btn btn-danger float-right">Login</button></a>
      </div>
    </div>
  </div>
</div>


