<div class="user-form">
    <h1>Login</h1>
    <form action="auth" method="POST">
        <input id="username" type="text" placeholder="Username" required />
        <input id="password" type="password" placeholder="Password" required />
        <input id="submit" type="submit" />
    </form>
</div>

