<div class="user-form">
    <h1>Register</h1>
    {{> messages}}
    <form action="register" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="email" name="email" placeholder="Email Address" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" />
    </form>
    <br>
    <p class="text-center">Already registered? <a href="/login">Login.</a></p>
</div>